name: New Release

on:
    push:
        tags:
            - '*'

env:
    CARGO_TERM_COLOR: always

jobs:
    quality-check:
        uses: ./.github/workflows/check_rust_quality.yml
        with:
            branch: master

    upload-release:
        runs-on: ubuntu-latest
        needs: [build-linux, build-windows, build-macos]
        steps:
            - uses: actions/checkout@v2
              with:
                  ref: master

            - name: download artifacts
              uses: actions/download-artifact@v4.1.7
              with:
                  name: uploads
            - name: Get Changelog Entry
              id: changelog_reader
              uses: mindsers/changelog-reader-action@v2
              with:
                  validation_depth: 10
                  version: ${{ steps.tag_name.outputs.current_version }}
                  path: ./CHANGELOG.md

            - name: Create release
              uses: ncipollo/release-action@v1
              with:
                  artifacts: |
                      uploads/tpy.exe
                      uploads/tpy-linux
                      uploads/tpy-macos
                  token: ${{ secrets.GITHUB_TOKEN }}
                  body: ${{ steps.changelog_reader.outputs.changes }}

    build-linux:
        runs-on: ubuntu-latest
        needs: [quality-check]
        steps:
            - uses: actions/checkout@v2
              with:
                  ref: master

            - name: Build for linux
              run: cargo build --release

            - name: Rename binary
              run: mv target/release/templify tpy-linux

            - name: upload linux artifact
              uses: actions/upload-artifact@v1
              with:
                  name: uploads
                  path: tpy-linux

    build-macos:
        runs-on: macos-latest
        needs: [quality-check]
        steps:
            - uses: actions/checkout@v2
              with:
                  ref: master

            - name: Build for macOS
              run: cargo build --release

            - name: Rename binary
              run: mv target/release/templify tpy-macos

            - name: upload linux artifact
              uses: actions/upload-artifact@v1
              with:
                  name: uploads
                  path: tpy-macos

    build-windows:
        runs-on: windows-latest
        needs: [quality-check]
        steps:
            - uses: actions/checkout@v2
              with:
                  ref: master

            - name: Build for windows
              run: cargo build --release

            - name: Rename binary
              run: mv target/release/templify.exe tpy.exe

            - name: upload linux artifact
              uses: actions/upload-artifact@v1
              with:
                  name: uploads
                  path: tpy.exe
